**import package**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**read the data**

In [7]:
path=r"C:\Users\md mumtaz\Documents\Naresh it\Visadataset.csv"

In [8]:
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

**convert numerical and categorical column**

In [9]:
cat_columns=visa_df.select_dtypes(include='object').columns
num_columns=visa_df.select_dtypes(exclude='object').columns
num_columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

**prevailing_wage**

In [13]:
# visa_df.loc[:,'prevailng_wage']
# visa_df.iloc[:,[8]]
# visa_df['prevailing_wage']
# visa_df[['prevailing_wage']]

In [11]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [12]:
visa_df[['prevailing_wage']]

       prevailing_wage
0             592.2029
1           83425.6500
2          122996.8600
3           83434.0300
4          149907.3900
...                ...
25475       77092.5700
25476      279174.7900
25477      146298.8500
25478       86154.7700
25479       70876.9100

[25480 rows x 1 columns]

- len
- min
- max
- average(mean)
- standard deviation std
- median
- 25p
- 50p
- 75p

**length**

In [15]:
len(visa_df['prevailing_wage'])

25480

In [ ]:
visa_df.iloc[rows,columns]
visa_df

**min**

In [16]:
min(visa_df['prevailing_wage'])

2.1367

In [17]:
max(visa_df['prevailing_wage'])

319210.27

In [18]:
count=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
print("the number of wage samples are:",count)
print("the minimum wage is:",min_wage)
print("the maximum wage is:",max_wage)

the number of wage samples are: 25480
the minimum wage is: 2.1367
the maximum wage is: 319210.27

**mean**

In [21]:
visa_df[['prevailing_wage']].mean()

prevailing_wage    74455.814592
dtype: float64

**median**

In [22]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [25]:
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
print("the average wage is:",mean_wage)
print("the median wage is:",median_wage)

the average wage is: 74455.81
the median wage is: 70308.21

**using numpy**

In [26]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

**std**

In [29]:
std_wage=round(visa_df['prevailing_wage'].std(),2)
std_wage

52815.94

In [30]:
count_wage=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
print("the number of wage samples are:",count)
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)

the number of wage samples are: 25480

In [31]:
# step-1: create a emplty list, keep all the values in a list
# step-2: create a index list=['count','min','max']
# step3: create a cols list=['pwage']

In [33]:
values=[count_wage,min_wage,max_wage,mean_wage,median_wage,std_wage]
index=['count','min','max','mean','median','std']
cols=['prevailing_wage']
wage_df=pd.DataFrame(values,index=index,columns=cols)
wage_df

        prevailing_wage
count        25480.0000
min              2.1367
max         319210.2700
mean         74455.8100
median       70308.2100
std          52815.9400

In [34]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [35]:
visa_df['continent'].value_counts()

continent
Asia             16861
Europe            3732
North America     3292
South America      852
Africa             551
Oceania            192
Name: count, dtype: int64

**25p-50p-75p**

**percentile**

- in numpy we have percentile
- the method is np.percentile()
  - it takes two arguments
   - a: array means data
   - q value which percentile data we want, that value we need to provide
  - if we want 25p value then q=25

**quantile**

- in numpy we have  quantile method 
- the method is np.quantile()
- it takes two arguments
   - a: array means data
   - q value which percentile data we want, that value we need to provide
  - if we want 25p value then q=0.25
   - if we want 50p value then q=0.50

In [37]:
np.percentile(visa_df['prevailing_wage'],25)  # 0 to 100

34015.479999999996

In [43]:
np.quantile(visa_df['prevailing_wage'],0.25)
# 0 to 1

34015.479999999996

In [39]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

In [42]:
wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2) 
print("25p values is:",wage_25p)
print("50p values is:",wage_50p)
print("75p values is:",wage_75p)

25p values is: 34015.48
50p values is: 70308.21
75p values is: 107735.51

In [ ]:
count_wage=len(visa_df['prevailing_wage'])
min_wage=min(visa_df['prevailing_wage'])
max_wage=max(visa_df['prevailing_wage'])
print("the number of wage samples are:",count)
mean_wage=round(visa_df['prevailing_wage'].mean(),2)
median_wage=round(visa_df['prevailing_wage'].median(),2)
std_wage=round(visa_df['prevailing_wage'].std(),2)

wage_25p=round(np.percentile(visa_df['prevailing_wage'],25),2)
wage_50p=round(np.percentile(visa_df['prevailing_wage'],50),2)
wage_75p=round(np.percentile(visa_df['prevailing_wage'],75),2)

index=['count','min','max','mean','median','std']
cols=['prevailing_wage']
wage_df=pd.DataFrame(values,index=index,columns=cols)
wage_df